{% extends 'bbadmin.html' %}

{% block  content %}
<h3>Upload User List</h3>
<form method='post' action="#">
  {% csrf_token %}
  <table class="table center table-striped">
    <thead>
      <tr>
        <th scope="col">
          <input type="checkbox" class="form-control" id="checkAll" />
        <th scope="col">Username</th>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>

      {% for user in user_list %}
      <tr>
        <td><input type="checkbox"  name="{{ user.username }}" class="check form-control"/></td>
        <td>{{ user.username }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.firstName}} </td>
        <td>{{ user.email }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>


  <button type='submit' class="btn btn-primary"> Add Users</button>
</form>
{% endblock content %}


{% block js %}
<script>
    $("#checkAll").click(function(){
      $(".check").prop('checked', $(this).prop('checked'));
    })
</script>

{% endblock js %}



