{% extends 'bbadmin.html' %}

{% block  content %}
Celery result: {{ celery_test }}

<table class="table table-sm table-bordered">
    <thead>
      <tr>
        <th scope="col">Select</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">email</th>
      </tr>
    </thead>
    <tbody>

      {% for user  in user_list %}

      <tr>
          <th scope="row">1</th>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>



{% for user  in user_list %}
  {{ user.firstName }}
  <br />
{% endfor %}


{% endblock content %}


